.svg-check-dims {
   width: 16px;
   height: 16px;
}
.svg-close-dims {
   width: 16px;
   height: 16px;
}
.svg-favourite-1-dims {
   width: 24px;
   height: 24px;
}
.svg-filter-dims {
   width: 16px;
   height: 16px;
}
.svg-filter-1-dims {
   width: 16px;
   height: 16px;
}
.svg-gamburger-dims {
   width: 24px;
   height: 24px;
}
.svg-menu-check-dims {
   width: 16px;
   height: 16px;
}
.svg-notification-dims {
   width: 24px;
   height: 24px;
   margin-top: 6px;
}
.svg-select-dims {
   width: 16px;
   height: 16px;
   padding: 2px 0 0 4px;
   position: absolute;
}

.svg-header_flag-dims {
   width: 24px;
   height: 24px;
   margin-top: 6px;
}
